:root {
  --bg-main-color: #00000080;
  --bg-accent-color: #2d2d2d;
  --accent-color: #f64435;
  --text-accent-color: #ffe498;
  --text-edit-bg-color: #575757;
  --border-color: #3f3f3f;
  --shadow-color: #202020;
  --document-bg-color: #68686850;
  --smokywhite: #dddbd8;
  --black: #000000;
  --white: #ffffff;
  --translucent-black: #00000099;
  --component-bg-color-yellow: #f7d44c;
  --component-bg-color-salmon: #eb7a53;
  --component-bg-color-blue: #98b7db;
  --component-bg-color-green: #a8d672;
  --component-bg-color-beige: #f6ecc9;
}

* {
  outline: none;
  box-sizing: border-box;
}

body {
  background-color: var(--black);
  font-family: Roboto, Oxygen, sans-serif;
  display: flex;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  font-size: 1.25rem;
  margin: 0;
}

ul {
  list-style: none;
  padding-left: 0;
}

p {
  color: var(--smokywhite);
}

label {
  color: var(--text-accent-color);
}

dialog {
  border: 0;
}

button {
  background: transparent;
  border: 0;
  outline: 0;
}

input,
textarea {
  background-color: var(--text-edit-bg-color);
  color: var(--smokywhite);
  font-size: 1.5rem;
}

.app {
  width: 100%;
  max-width: 1000px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.banner {
  background-color: transparent;
  border-bottom: 1px solid var(--bg-accent-color);
  text-align: center;
}

.banner__title {
  margin: 2rem;
  color: var(--white);
}

.control-panel {
  display: flex;
  align-items: center;
  justify-content: center;
}

.create-button,
.dialog__submit {
  margin: 0.1rem 0.2rem;
  text-align: center;
  user-select: none;
  padding: 1rem 3rem;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8rem;
  color: var(--white);
  background-color: transparent;
  border: 2px solid var(--white);
  border-radius: 50px;
}

.document {
  color: white;
  height: 100%;
  overflow-y: auto;
  /* Firefox */
  scrollbar-width: 6px;
  scrollbar-color: var(--bg-accent-color);
  scrollbar-face-color: var(--accent-color);
}

.document::-webkit-scrollbar {
  /* Safari and Chrome */
  background-color: var(--bg-accent-color);
  width: 6px;
}

.document::-webkit-scrollbar-thumb {
  /* Safari and Chrome */
  background-color: var(--accent-color);
}

.footer {
  border-top: 1px solid var(--border-color);
  text-align: center;
}

/* Dialog */
.dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  font-size: 1.2rem;
  background-color: var(--document-bg-color);
}

.dialog__container {
  display: flex;
  flex-direction: column;
  padding: 0.4rem;
  width: 32rem;
  background-color: var(--component-bg-color-salmon);
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
  box-shadow: 2px 2px 20px var(--shadow-color);
}

.form__container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.close {
  align-self: flex-end;
  padding: 0.2rem;
  color: var(--accent-color);
  font-size: 28px;
  font-weight: bold;
  margin: 3px;
  transition: color 250ms ease;
}

.close:hover,
.close:focus {
  transform: scale(1.5);
  color: var(--shadow-color);
  text-decoration: none;
  cursor: pointer;
}

.dialog__submit {
  align-self: flex-end;
  padding: 0.5rem 1.5rem;
}

.page__item {
  margin: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 2px 2px 6px var(--shadow-color);
}

.page-item__controls {
  padding-right: 0.5rem;
}

.page-item__title {
  color: var(--text-accent-color);
}

.video,
.image {
  display: flex;
  width: 100%;
  height: 250px;
}

.video__player,
.image__holder {
  flex: 60% 1 1;
}

.video__title,
.image__title {
  flex: 40% 1 1;
  margin-left: 0.5rem;
}

.video__ifram {
  border: none;
  width: 100%;
  height: 100%;
}

.image__thumbnail {
  width: 100%;
  height: 100%;
}

.note {
  padding: 0.5rem;
}

.todo {
  padding: 0.5rem;
}

.todo__list,
.todo-label {
  padding: 1rem;
  color: var(--smokywhite);
}
